{% extends "food/base.html" %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
    <title>Harvesting Site</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'food/home2.css' %}">


</head>

<body>

    <section id="page-1">
        <div id="header">
            <img src="https://sleepyenes.my.canva.site/enes-sleepwalk-ng-kopyas/videos/26d7319b7613888df6f8c3bcae1f2bf5.gif"
                loading="lazy" style="display:block;object-fit:cover;width:40%;height:40%;" class="header-image">
            <div class="header-content">
                <p class="header-title" style="text-align: center; font-family: 'Oleo Script Swash Caps', cursive;">SolutionHarvest</p>
                <p class="header-text" style="text-align: center;">Revolutionize food harvesting systems through intelligent process mapping and
                    digital
                    solution improvement for maximum productivity.</p>
            </div>
    </section>

    <section id="page-2">
        <div id="overview">
            <h1 style="font-family: sans-serif;font-size: 40px;color: #333333 ;">Overview</h1>
            <img src="https://sleepyenes.my.canva.site/enes-sleepwalk-ng-kopyas/videos/7fe1b6d2caf32dbfe9de868531cb4755.gif"
                loading="lazy" style="display:block;object-fit:cover;width:30%;height:30%;">
            <p style="font-family: sans-serif; font-size: 30px;margin-left: 10px; color: #333333 ;">SolutionHarvest is a
                respected brand that specializes in transforming food harvesting systems through process mapping
                and digital solutions. Our primary objective is to empower agricultural businesses with streamlined
                operations,
                data-driven decision-making, and sustainable practices. With our innovative tools and expertise, clients can
                optimize
                productivity, minimize waste, and achieve remarkable success in the industry.<br><br>
                At SolutionHarvest, we understand the unique challenges faced by our clients in the agricultural sector.
                That's why our
                solutions are designed to streamline processes, reduce inefficiencies, and enhance resource utilization. By
                leveraging
                advanced mapping technologies and real-time analytics, our clients gain comprehensive insights into their
                operations.
                This enables them to make well-informed decisions, identify bottlenecks, and implement targeted improvements
                for
                superior outcomes.<br><br>
                We are committed to continuous innovation and staying at the forefront of technology advancements. Our
                dedicated team of
                experts ensures that our solutions remain relevant and effective in addressing the evolving needs of the
                industry.
                Additionally, we provide exceptional support to our clients, guiding them throughout their journey towards
                sustainable
                and efficient food harvesting systems. Choose SolutionHarvest as your trusted partner to revolutionize your
                food
                harvesting practices, optimize productivity, and contribute to a more sustainable and prosperous future for
                the
                agriculture sector.</p>
        </div>
    </section>

    <section id="page-3">
        <div class="header-container">
            <h1 style="font-family: sans-serif;color: #333333 ; font-size: 40px;">Services</h1>
            <p style="font-family: sans-serif; font-size: 30px; color: #333333 ;">Our services at SolutionHarvest encompass a
                range of offerings aimed at transforming food harvesting systems and driving
                operational excellence. Here's a brief explanation of our key services:</p>
        </div>
        <div id="service-boxes">
            <div style="font-size: 30px; font-family: sans-serif;">
                <div style="color:#f974a6">DATA ANALYSIS</div>
                <br><br>We analyze collected data to uncover valuable insights and improve food harvesting systems'
                performance and efficiency.
            </div>
            <div style="font-size: 30px; font-family: sans-serif;">
                <div style="color:#f974a6">RECOMMENDATION</div>
                <br><br>Our intelligent recommendation system utilizes data analysis to provide actionable suggestions for
                optimizing processes
                and increasing productivity.
            </div>
            <div style="font-size: 30px; font-family: sans-serif;">
                <div style="color: #f974a6">CONSULTANCY</div>
                <br><br>Providing expert consultancy services to guide you through the complexities of fruit harvesting systems, offering
                tailored digital solutions to enhance productivity and ensure optimum ripeness of your harvest.
            </div>
        </div>
    
        <div id="page-3-graph" style="margin-top: 150px;">
            <div class="text-container" style="margin-left: 50px;">
                <h1 style="font-family: sans-serif;color: #333333 ; font-size: 40px; margin-bottom: 10px;">
                    SolutionHarvest's<br>Sustainable Infrastructure Initiative</h1>
                <p style="font-family: sans-serif;color: #333333 ; font-size: 30px; margin-left: 30px;">Discover the
                    sustainable impact of <br>SolutionHarvest's initiatives, <br>revolutionizing agriculture for a better
                    <br>future.</p>
            </div>
            <img src="static/food/images/graphim.png" style="margin-left: 200px;">
        </div>
    </section>

    <section id="page-4" , class="container">
        <div class="text-container" style="margin-left: 90px;margin-top: 100px;">
            <h1 style="font-family: sans-serif;color: white; font-size: 40px; margin-bottom: 10px;">Our Progress</h1>
            <p style="font-family: sans-serif;color: white; font-size: 30px;">Performance goals are a cornerstone of <br>our
                project at SolutionHarvest, enabling <br>us to monitor and measure our progress
                <br>in transforming food harvesting systems. <br>Our aim is to improve operational <br>efficiency,
                sustainability, and impact
            </p>
        </div>
    
        <div class="info-table">
            <table>
                <tr>
                    <th>Key Indicator</th>
                    <th>Activity / Project</th>
                    <th>Data / Outcome</th>
                </tr>
                <tr>
                    <td>Yield per Acre</td>
                    <td>Process Mapping and Optimization</td>
                    <td>Increased Yield</td>
                </tr>
                <tr>
                    <td>Waste Percentage</td>
                    <td>Training and Education Programs</td>
                    <td>Reduced Waste</td>
                </tr>
                <tr>
                    <td>Adoption of Sustainable Practices</td>
                    <td>Technology Integration</td>
                    <td>Adoption Rate of Sustainable Practices</td>
                </tr>
            </table>
        </div>
    </section>

    <section id="page-5" , class="container">
        <div id="page-5-text" class="text-container" style="margin-left: 200px;margin-top: 100px;">
            <h1 style="font-family: sans-serif;color: white; font-size: 40px; margin-bottom: 10px; margin-right: 150px;">
                Next Steps</h1>
            <p style="font-family: sans-serif;color: white; font-size: 30px;">We outline the crucial next steps towards
                creating sustainable change in food <br>harvesting systems. We provide practical
                guidance and resources to empower <br>individuals, organizations, and communities to take action and make a
                positive <br>impact.</p>
        </div>
    
        <div id="step-boxes">
            <div style="font-size: 30px; font-family: sans-serif;">
                <div style="color:#f974a6">IMPLEMENTATION STRATEGIES AND ACTION</div>
                <br><br>Develop practical strategies and action plans to effectively implement the recommended solutions.
                This
                involves
                outlining clear steps, allocating resources, and setting timelines for smooth and successful implementation,
                addressing
                the identified harvesting problems.
            </div>
            <div style="font-size: 30px; font-family: sans-serif;">
                <div style="color:#f974a6">PERFORMANCE MONITORING AND EVALUATION</div>
                <br><br>Continuously monitor and evaluate the effectiveness of the implemented solutions. Track key metrics,
                analyze data, and
                measure progress to ensure the changes are working as intended. This enables us to make adjustments and
                optimize
                our
                food harvesting systems.
            </div>
            <div style="font-size: 30px; font-family: sans-serif;">
                <div style="color: #f974a6">CONTINUOUS IMPROVEMENT AND INNOVATION</div>
                <br><br>Foster ongoing improvement in our food harvesting systems. Explore new technologies, adopt best
                practices, and encourage
                collaboration to enhance efficiency, sustainability, and productivity. Embracing innovation ensures we stay
                ahead and
                seize opportunities
            </div>
        </div>
    
    </section>

    <section id="page-6">
        <div id="page-6-text" class="text-container" style="margin-left: 200px;margin-top: 100px;">
            <h1 style="font-family: sans-serif;color: #fefefe; font-size: 40px; margin-bottom: 10px; margin-right: 150px;">
                Summary</h1>
            <p style="font-family: sans-serif;color: #fefefe; font-size: 30px;">Through data analysis, we identify optimal
                planting timing, explore new insecticides for pest control, and <br>promote
                sustainable practices.</p>
        </div>
    
        <div id="summary-box">
            <div style="font-size: 30px; font-family: sans-serif; text-align: center;">
                <div style="color:#68c7ff">OPTIMIZING HARVESTING SCHEDULE TO REDUCE WASTE</div>
                <br><br>20% of your fruits are predicted to be rotten soon so you should take an action on the harvest time.
            </div>
            <div style="font-size: 30px; font-family: sans-serif; text-align: center;">
                <div style="color:#68c7ff">MAXIMIZING PROFIT OF YOUR PRODUCTS</div>
                <br><br>Second week of june is predicted to be the most optimized date to increase your profit.
            </div>
            <div style="font-size: 30px; font-family: sans-serif; text-align: center;">
                <div style="color: #68c7ff">KNOW THE WEATHER BEFORE YOU HARVEST</div>
                <br><br>10% of your fruits have been is predicted to be rotten soon due to the increased temperature in the weather.
            </div>
    
    
    </section>


</body>

</html>

{% endblock content %}
