{% extends "food/base.html" %}

{% block content %}

<html>

    <head>
        {% load static %}
    </head>

    <body>
        <style>
            body {
                background: linear-gradient(135deg,#71b7e6,#9b59b6);
                font-family: sans-serif;
            }

            .partner {
                border: 1px solid #000;
                border-radius: 25px;
                padding: 20px;
                margin-bottom: 20px;
            }

            .partner div{
                font-size: 30px;
                margin-top: 70px;
            }

            
        </style>

        <section>
            <h1 style="color: #fff; font-size: 60px;">Our Partner</h1>
            <!-- Add content about your partners here -->
            <div class="partner">
                <h1
                    style="text-align: center; font-size: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                    UAS Engineering</h1>
                <div>
                    <p>Ibrahim Zafer Yesilyurt - 05067770809</p>
                    <p><i>Surveying Engineer</i></p>
                </div>

                <div>
                    <p>Mehmet Mert - 05424275380</p>
                    <p><i>Drone Pilot</i></p>
                </div>

                <div>
                    <p>Malik Yazici - 05315999401</p>
                    <p><i>Surveying Engineer</i></p>
                </div>
            </div>

            
            <!-- Add more partner company divs as needed -->
        </section>
    </body>

</html>

{% endblock content %}